.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
}
.cart-container{
    margin: 20px;
    padding: 10px;
}
.flag-container img{
    width: 150px;
    height: 100px;
    border-radius: 10px;
}
.flag-container {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 5px;
}
.country-name {
    font-weight: bold;
    width: 150px;
}
.flag-container button{
    background-color: rgb(74, 163, 241);
}